/* Aqui começa o bloco de códigos da NAV BAR*/
* {
    margin: 0;
    padding: 0;
   
  }
  
  a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }

  /*body
  {
    background-color: lightgrey;
  }*/
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    letter-spacing: 4px;
    
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 15vh;
  }
  

  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 30vw;
      height: 50vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* Aqui termina o bloco de códigos da NAV BAR*/






  /* Aqui começa o bloco de códigos do RODAPÉ(footer)*/

  footer
  {
    background-color: #23232e;
    padding: 50px;
    
  }

  .container-footer
  {
    max-width: 1400px;
    padding: 0 4%;
    margin:auto;
    height: 130px;
  }

  .row-footer
  {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-col
  {
    width: 40%;
    padding: 0 15px;

  }

  .footer-col h3
  {
    font-size: 20px;
    color:#fff;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
  }

  .footer-col ul
  {
    list-style: none;
  }

  .footer-col ul li
  {
    margin: 0px;
  }

  .footer-col ul li a
  {
    font-size: 15px;
    text-transform: capitalize;
    color:#fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
  }

  .footer-col .midias-sociais
  {
    margin-top: 10px;
  }

  .footer-col .midias-sociais a
  {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   height: 30px;
   width: 30px;
   margin: 0 10px 10px 0;
   text-decoration: none;
   border-radius: 50%;
   color:#fff;
   border: 1px solid white;

  }

  .footer-col .midias-sociais a i
  {
    font-size: 20px;
  }

  /*responsividade*/

  @media(max-width:999px)
  {
    .footer-col
    {
      width: 50%;
      margin-bottom: 30px;

    }
  }


  @media(max-width:600px)
  {
    .footer-col
    {
      width: 100%;
      margin-bottom: 30px;

    }
  }



  /* Aqui TERMINA o bloco de códigos do RODAPÉ(footer)*/

  /*começo estilizaçao titulo do paragrafo*/

spam{
  color:#313192;
  font-size: clamp(1.75em, 1em+3vw, 2.5em);
}

/*fim estilização titulo do paragrafo*/



/* Aqui COMEÇA o bloco de códigos do FORMULÁRIO(form)*/
x
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

form
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input.inp
{
  width: 60vw;
  max-width: 450px;
  padding: 5px 30px;
  font-size: 15px;
  margin: 0 0 10px 0;
  border: 3px solid #23232e;
}

input.inpsubmit
{
  font-size: 20px;
  background-color: #23232e;
  color: #fff;
  cursor: pointer;
  
}

input.inpsubmit:hover
{
  background-color: #2b2bc2;
}

 /* Aqui TERMINA o bloco de códigos do FORMULÁRIO(form)*/ 





 /* Aqui COMEÇA o bloco de códigos do CARD*/

 .pacotes
 {
   /*background-color: purple;*/
   /*height: 500px;*/
   display: flex;
 }

 .pacotes .card
 {
    width: 251px;
    height: 228px;
    background:#23232e;
    border-radius: 10px 10px 10px 10px;
    margin: 25px auto;
 }

 .pacotes .card-image
 {
   width: 250px;
   height: 200px;
   
 }

 .card-content
 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
   color: #fff;
  
 }
